<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li class="flex">
      <div class="borderb">
        <img src="<%= asset_path("user-placeholder.png") %>" alt="<%= user.name%>" width=100px >
      </div>
      <div class="borderb flex">
        <p class="size"><%= link_to user.name, "users/#{user.id}" %></p>
        <p>Numebr of Posts: <%= user.posts_counter%></p>
      </div>
    </li>
  <% end %>
</ul>

<%= render "layouts/footer" %>
