<h2 class="flex margintop20">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Enter email' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="big">
      <div><%= f.check_box :remember_me %></div>
      <div><%= f.label :remember_me %></div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: 'button margintop20' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

  