<%= render "layouts/header"%>

<h1>Post "<%= @post.title%>"</h1>

<div class="borderb fit">
  <div class="flex">
    <%= @post.title%>
    <span class="right">Comments: <%= @post.comments_counter || 0 %> Likes: <%= @post.likes_counter || 0%> </span>
  </div></br>
  <span><%= @post.text%></span>
</div>
  <div class="border fit">
<% @post.comments.includes(:author).each do |comment| %>
    <span><%= comment.author.name %>: <%= comment.text %>
    </span></br>
<% end %>
  <%= render partial: 'comments/comment', locals: { comment: @comment, user: @user, post: @post } %>
  <%= render partial: 'likes/like', locals: { post: @post } %>
  </div>

<%= render "layouts/footer" %>