<div class="navigate">
  <ul>
    <li><%= link_to "Back", :back %></li>
    <li><%= link_to "All Users", :root%></li>
  </ul>
</div>

<h1>Post "<%= @post.title%>"</h1>
<div class="flex">
  <div class="borderb">
    <img src=<%= asset_path("user-placeholder.png") %> width=100>
  </div>
  <div class="borderb flex">
    <p><%= @post.author.name%></p>
    <p>Number of Posts: <%= @post.author.posts_counter%></p>
  </div>
</div>
<div class="borderb fit">
  <div class="flex">
    <%= @post.title%>
    <span class="right">Comments: <%= @post.comments_counter || 0 %> Likes: <%= @post.likes_counter || 0%> </span>
  </div></br>
  <p><%= @post.text%></p>
</div>
  <div class="border fit">
<% @post.comments.each do |comment| %>
    <span><%= comment.author.name %>: <%= comment.text %>
    </span></br>
<% end %>
  </div>

<div class="border fit footer">
  <span>
    Build with 🧡 By:
    <a
    href="https://github.com/DilsherB"
    target="_blank"
    rel="noreferrer"
    >
    Dilsher Balouch (GitHub)
    </a>
  </span>
</div>
